<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Game Commander</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This tab will eventually have saved games.</p>
      </ion-card-content>
      <ion-item>
        Stuff: {{globals.server_address}}
        <ion-button shape="round" color="primary" fill="outline" (click)='refresh()'>Refresh</ion-button>
      </ion-item>
      <ion-item *ngFor="let gameSetup of globals.gameSetupList">
          
            <div item-content>  
            ({{gameSetup.gameName}}):{{gameSetup.gameTime}}
          </div>
            <ion-button shape="round" color="primary" fill="outline" (click)='startTimer(gameSetup.gameName)'>Start</ion-button>
        </ion-item>  
    </ion-card>
      

    
  
    
</ion-content>
